@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #043873;
}

h1 {
  font-size: 36px;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 54px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 64px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 54px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 72px;
  }
}

h3 {
}

p,
a,
button {
  font-size: 16px;
  font-weight: 400;

  @media screen and (min-width: 1440px) {
    font-size: 18px;
  }
}
