@import "@/style/container";
@import "@/style/viewports";
@import "@/style/colors";

.main {
  &__button {
    display: flex;
    background-color: $MainButtonColor;
    color: $MainClassicColor;
    border-radius: 8px;
    padding: 12px 24px;
    align-items: center;
    font-weight: 500;
    gap: 10px;

    &:hover .main__arrow {
      transform: translateX(10px);
      transition: transform 0.3s ease;
    }
  }

  &__arrow {
    transition: transform 0.3s ease;
  }
}

.yellow {
  background-color: #ffe492;
}

.blue {
  background-color: #70a1ff;
}

.textBlue {
  color: $MainBlueBrandColor;
}
